{% extends 'base.html' %}
{% load static %}

{% block title %}Contact | Hop & Barley{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="static-page-wrapper">
  <div class="container">
    <div class="static-page-content">
      <h1 class="static-page-title">Contact</h1>
      <p class="static-page-subtitle">Coming Soon!</p>
      <div class="static-page-text">
        <p>Before that, for any questions, regardless of the time, please call <b>Artem Getashvilli</b>.</p>
        <p>Stay tuned for updates and follow us in social networks!</p>
      </div>
      <a href="{% url 'home' %}" class="button button--primary">Back to Products</a>
    </div>
  </div>
</main>
{% endblock %}
